* {
  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#design {
  position: relative;
  height: 100vh;
}

#design .design {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
}

.design {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.design .design-word {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.design .design-word h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
}

.design .design-word h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.design a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  margin-bottom: 2%;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.design a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .design .design-word h1 {
	font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .design .design-word {
	height: 148px;
	margin: 0px auto 10px;
  }

  .design .design-word h1 {
	font-size: 86px;
  }

  .design .design-word h2 {
	font-size: 16px;
  }

  .design a {
	padding: 7px 15px;
	font-size: 14px;
  }

}